<h1>Contacto</h1>
<div class="container">

    <span>¡Gracias por tu interés en nuestro servicio de desarrollo de servicios web para casas inteligentes!</span>
    <span>¡También puedes contactarnos a través de los siguientes medios!</span>
    <span>
        <mat-icon>email</mat-icon>{{ email }}
        <mat-icon>phone</mat-icon> +353 086 652 1245
        <mat-icon>location_on</mat-icon> 54-46 Charleston Rd, Ranelagh, Dublin
        <p>Síguenos en redes sociales:</p>
          <div class="social-icons">
            <a href="https://www.facebook.com/" target="_blank"><mat-icon>facebook</mat-icon></a>
            <a href="https://www.linkedin.com/" target="_blank"><mat-icon>linkedin</mat-icon></a>
          </div>
    </span>
  </div>
  