<h1>Añadir nueva casa</h1>
<div class="center">
<form class="center__container" [formGroup]="form" (ngSubmit)="save()">
    <mat-form-field>
      <input matInput placeholder="Nombre" formControlName="name" name="name">
      @if(form.get('name').invalid && (form.get('name').dirty || form.get('name').touched)){
        <mat-error>El nombre es requerido</mat-error>
      }
    </mat-form-field>
  
    <mat-form-field>
      <textarea matInput placeholder="Descripción" formControlName="description" name="description"></textarea>
    </mat-form-field>
  
    <mat-form-field>
      <mat-label>Choose a date</mat-label>
        <input matInput [matDatepicker]="picker" formControlName="creationDate" name="creationDate">
        <mat-hint>MM/DD/YYYY</mat-hint>
        <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
  
    <mat-form-field>
      <input matInput placeholder="Ubicación" formControlName="location" name="location">
    </mat-form-field>

    <mat-form-field>
      <input matInput placeholder="Características" formControlName="features" name="features">
    </mat-form-field>

    <div align="center" class="center__info">
      <span> Subir un archivo .JSON con el siguiente formato </span>
      <img src="assets/svgs/data_info_alert.svg" alt="data_info_alert" (click)="openConfigInfo()">
    </div>

    @if (progress) {
      <mat-toolbar class="progress-bar">
        <mat-progress-bar color="accent" [value]="progress"></mat-progress-bar>
        <span class="progress">{{ progress }}%</span>
      </mat-toolbar>
      }

    <mat-form-field>
      <div>
        <mat-toolbar>
          <input matInput [value]="fileName" />
  
          <button
            mat-flat-button
            color="primary"
            [disabled]="!currentFile"
            (click)="upload()"
          >
            Upload
          </button>
        </mat-toolbar>
  
        <input
          type="file"
          id="fileInput"
          (change)="selectFile($event)"
          name="fileInput"
          accept=".json"
          placeholder="Configuración"
        />
      </div>
      @if(configFormControl.hasError('jsonFormat')){
        <mat-error>Por favor, selecciona un archivo JSON válido.</mat-error>
      } 
    </mat-form-field>

    <div align="center" class="center__info">
      <span> Subir los panoramas .jpg correspondientes a la configuración. </span>
    </div>

    <mat-form-field>
      <div>
        <mat-toolbar>
          <input matInput [value]="filePics" />
  
          <button
            mat-flat-button
            color="primary"
            [disabled]="!currentFile"
            (click)="upload()"
          >
            Upload
          </button>
        </mat-toolbar>
  
        <input
          type="file"
          multiple
          id="fileInput"
          (change)="selectPics($event)"
          name="fileInput"
          accept=".jpg"
          placeholder="Panoramas"
        />
      </div>
      @if(configFormControl.hasError('jsonFormat')){
        <mat-error>Por favor, selecciona las fotos panoramas en formato .jpg.</mat-error>
      } 
    </mat-form-field>

    <button mat-raised-button color="primary">Añadir</button>
  </form>
</div>