<div class="container">
    <app-virtual-panorama-view
      [viewId]="selectedView"
      #virtualView
      id="virtualView"
    ></app-virtual-panorama-view>
    <!-- Minimapa -->
    <div class="div-minimapa">
      <!-- Botones para mostrar y esconder el minimapa -->
      <div class="div-buttons-minimapa">
        <!-- Esconder Minimapa -->
        <button
          mat-raised-button
          id="button-hide-minimap"
          (click)="hideMinimap()"
          class="buttons-minimapa"
        >
          <mat-icon
            style="vertical-align: sub; transform: translateX(-50%) scale(0.8)"
            >location_off</mat-icon
          >
        </button>
        <!-- Mostrar Minimapa -->
        <button
          mat-raised-button
          id="button-show-minimap"
          (click)="showMinimap()"
          class="buttons-minimapa"
          style="display: none"
        >
          <mat-icon
            style="vertical-align: sub; transform: translateX(-50%) scale(0.8)"
            >location_on</mat-icon
          >
        </button>
      </div>
  
      <!-- Canvas -->
      <div
        id="minimap"
        class="croquis-content"
        style="margin-top: 20px; transition: 0.4s all ease-in-out"
      >
        <app-canvas
          id="canvas"
          [pins]="tour.pins"
          [selectedPin]="selectedPin"
          (onClick)="onPinClick($event)"
          class="croquis"
        ></app-canvas>
      </div>
    </div>
  
    <!-- Carrusel de Escenas -->
    <div id="div-carousel" class="div-carousel">
      <!-- Botones para abrir y cerrar el carrusel -->
      <div class="div-carousel-button">
        <button
          mat-raised-button
          id="close-carousel"
          (click)="closeSceneCarousel()"
          class="display-carousel-button"
        >
          <mat-icon>expand_more</mat-icon>
        </button>
  
        <button
          mat-raised-button
          id="open-carousel"
          (click)="openSceneCarousel()"
          class="display-carousel-button"
          style="display: none"
        >
          <mat-icon>expand_less</mat-icon>
        </button>
      </div>
  
      <!-- Carrusel -->
      <div id="carousel" class="carousel">
        <div id="carousel-container" class="carousel-container">
          <div id="track" class="track">
            @for(scene of pannellumService.getScenes(); track scene){
            <div
              class="card-container"
              (click)="pannellumService.setScene(scene)"
            >
              <div class="card">
                <div class="img">
                  <img
                    class="image"
                    [attr.src]="pannellumService.getImageSource(scene)"
                    alt=""
                  />
                </div>
                <div class="info">
                  {{ pannellumService.getSceneTitle(scene) }}
                </div>
              </div>
            </div>
            }
          </div>
  
          <!-- Botones para mover el carrusel hacia la izquierda y derecha -->
          <div class="carousel-buttons">
            <button id="prev" class="prev" (click)="moveCarouselLeft()">
              <mat-icon class="icon-move-carousel">arrow_back_ios</mat-icon>
            </button>
            <button id="next" class="next" (click)="moveCarouselRight()">
              <mat-icon class="icon-move-carousel">arrow_forward_ios</mat-icon>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
  