<h1>Registro de usuario</h1>
<div class="center">
<form class="center__container" [formGroup]="form" (ngSubmit)="signUp()">
    <mat-form-field>
      <input matInput placeholder="Nombre" formControlName="name" name="name">
      @if(form.get('name').invalid && (form.get('name').dirty || form.get('name').touched)){
        <mat-error>El nombre es requerido</mat-error>
      }
    </mat-form-field>
  
    <mat-form-field>
      <input matInput placeholder="Apellidos" formControlName="surname" name="surname">
      @if(form.get('surname').invalid && (form.get('surname').dirty || form.get('surname').touched)){
        <mat-error>El apellido es requerido</mat-error>
      }
    </mat-form-field>

    <mat-form-field>
      <mat-label>Roles</mat-label>
      <mat-select formControlName="role">
        <mat-option value="admin">Admin</mat-option>
        <mat-option value="user">User</mat-option>
      </mat-select>
      @if(form.get('role').invalid && (form.get('role').dirty || form.get('role').touched)){
        <mat-error>El rol es requerido</mat-error>
      }
    </mat-form-field>
  
    <mat-form-field>
      <input matInput placeholder="Teléfono" formControlName="phone" name="phone">
    </mat-form-field>
  
    <mat-form-field>
      <input matInput placeholder="Correo electrónico" type="email" formControlName="email" name="email">
      @if(form.get('email').invalid && (form.get('email').dirty || form.get('email').touched)){
        <mat-error>Correo electrónico es inválido</mat-error>
      }
    </mat-form-field>
  
    <mat-form-field>
      <input matInput placeholder="Contraseña" type="password" formControlName="password" name="password">
      @if(form.get('password').invalid && (form.get('password').dirty || form.get('password').touched)){
        <mat-error>Contraseña es inválida.</mat-error>
      }
    </mat-form-field>
    @if((form.get('password').dirty || form.get('password').touched)){
      <mat-hint>La contraseña debe tener al menos 1 mayusc., 1 minusc., 1 dígito y 1 caracter especial.</mat-hint>
    }
    
  
    <mat-form-field>
      <input matInput placeholder="Repetir contraseña" type="password">
    </mat-form-field>
  
    <button mat-raised-button color="primary" [disabled]="form.invalid">Registrarse</button>
    <br>
    <a href="/log-in" align="center">¿Ya tienes una cuenta? Inicia sesión</a>
</form>
</div>