.container {
    display: flex;
    padding: 180px 70px;

    &__left {
    flex: 1;
    padding: 20px;
  }
  
  &__right {
    flex: 1;
    padding: 20px;
    overflow: hidden;
  }
}
  
img {
    max-width: 100%;
    height: auto;
    border-radius: 0 20px 0 20px;
}

  