<div class="center">
<form class="center__container">
    <mat-form-field class="example-full-width">
      <input matInput placeholder="Nombre">
    </mat-form-field>
  
    <mat-form-field class="example-full-width">
      <input matInput placeholder="Apellidos">
    </mat-form-field>
  
    <mat-form-field class="example-full-width">
      <input matInput placeholder="Domicilio">
    </mat-form-field>
  
    <mat-form-field class="example-full-width">
      <input matInput placeholder="Teléfono">
    </mat-form-field>
  
    <mat-form-field class="example-full-width">
      <input matInput placeholder="Correo electrónico" type="email">
    </mat-form-field>
  
    <mat-form-field class="example-full-width">
      <input matInput placeholder="Contraseña" type="password">
    </mat-form-field>
  
    <mat-form-field class="example-full-width">
      <input matInput placeholder="Repetir contraseña" type="password">
    </mat-form-field>
  
    <mat-checkbox class="example-full-width">Acepto los términos y condiciones</mat-checkbox>
  
    <button mat-raised-button color="primary">Registrarse</button>
    <a href="/log-in">¿Ya tienes una cuenta? Inicia sesión</a>
  </form>
</div>