<h1>Gestionar casas virtuales</h1>
  <div class="header">
    <div class="header__search">
      <mat-icon>search</mat-icon>
      <span class="spacer"></span>
      <input placeholder="Buscar casa por nombre" [(ngModel)]="searchTerm">
    </div>
    <button mat-raised-button color="primary" routerLink="/add-new-house" class="header__add">Añadir casa Virtual</button>
  </div>
  
  <div class="container">
    @for(casa of filterCasas().slice(pageIndex * pageSize, (pageIndex + 1) * pageSize); track casa){
        <mat-card class="container__card">
            <mat-card-content class="container__content">
              <div class="container__content--actions">
                <h3>{{casa?.name}}</h3>
                <div class="container__content--location">
                  <img src="assets/svgs/location.svg" alt="location">
                  <span><a [href]="getGoogleMapLink(casa?.location)" target="_blank">{{ casa?.location }}</a>
                  </span>
                </div>
              </div>
              <span>{{ casa?.features }}</span>
              <span>{{ casa?.creation_date }}</span>
              <div class="container__content--actions">
                <button mat-button color="primary" routerLink="/virtual-house" [disabled]="casa.name !== 'Benbulbin'" matTooltip="Proximamente..." [matTooltipDisabled]="casa.name !== 'Benbulbin'">Visitar Virtualmente</button>
                @if((userRole$ | async) === 'admin'){
                  <button mat-button color="primary" routerLink='/virtual-house/hotspots'>Gestionar Sensores</button>
                }
              </div>
                <button mat-icon-button color="warn" (click)="openConfirmationDialog()">
                <mat-icon>delete</mat-icon>
                </button>
            </mat-card-content>
          </mat-card>
    }
  </div>
  
  <mat-paginator [length]="casas.length" [pageSize]="pageSize" (page)="onPageChange($event)"></mat-paginator>
  