<div class="container">
    <div class="container__left">
        <h1>Visita virtual</h1>
        <p> ¡Bienvenido a la revolución de la vivienda inteligente! Explora casas virtuales como nunca antes lo habías imaginado y sumérgete en la experiencia de la vida moderna. 
            ¡Descubre todo lo que nuestro mundo virtual tiene para ofrecerte! </p>

        <button mat-flat-button color="primary" routerLink="/virtual-house">Explorar casa virtual</button>
    </div>
    <div class="container__right">
        <img src="/assets/home.png">
    </div>
</div>